# Edit at https://editor.swagger.io/
---
swagger: "2.0"
info:
  description: API to book and manage booked VMs on P2P Cloud hosting.
  title: P2PCloud service client API
  version: 0.0.2
consumes:
- application/io.p2pcloud.service-api.v1+json
produces:
- application/io.p2pcloud.service-api.v1+json
schemes:
- http
host: localhost:9069
paths:
  /vms/:
    get:
      tags:
        - User api
      operationId: list_vms
      responses:
        200:
          description: list all booked vms
          schema:
            type: array
            items:
              $ref: "#/definitions/vm"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
    post:
      tags:
        - User api
      operationId: book_vm
      parameters:
        - in: body
          name: booking_params
          schema:
            type: object
            required:
              - offer_index
              - seconds
            properties:
              offer_index:
                type: integer
                format: int64
                x-isnullable: true
                default: 0
              seconds:
                type: integer
                format: int64
                x-isnullable: false
      responses:
        201:
          description: Booked
          schema:
            $ref: "#/definitions/success"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /vm/{id}/start:
    parameters:
      - type: integer
        format: int64
        name: id
        in: path
        required: true
    post:
      consumes:
         - multipart/form-data
      tags:
        - User api
      operationId: vm_start
      description: Starts a VM. Takes 40-70 seconds
      parameters:
        - in: formData
          name: up_files
          type: file
          required: true
          description: Additional files to add to filesystem. startup.sh is recommended
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/success"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /offers/:
    get:
      tags:
        - User api
      operationId: list_offers
      parameters:
        - in: query
          name: vm_type_id
          type: integer
          format: int64
          x-nullable: false
          required: true
          description: VM type ID to filter offers
      responses:
        200:
          description: list all avalable offers
          schema:
            type: array
            items:
              $ref: "#/definitions/offer"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
definitions:
  offer:
    type: object
    properties:
      index:
        type: integer
        format: int64
        x-isnullable: false
      availability:
        type: integer
        format: int64
        x-isnullable: false
  vm:
    type: object
    required:
      - index
      - vm_type_id
      - pps
      - miner
      - user
      - booked_till
    properties:
      index:
        type: integer
        format: int64
        x-isnullable: false
      vm_type_id:
        type: integer
        format: int64
        x-isnullable: false
      pps:
        type: integer
        format: int64
        x-isnullable: false
      miner:
        type: string
        x-isnullable: false
      user:
        type: string
        x-isnullable: false
      booked_till:
        type: integer
        format: int64
        x-isnullable: false
  success:
    type: object
    required:
      - success
    properties:
      success:
        type: boolean
        default: true
        x-isnullable: false
  error:
    type: object
    required:
      - message
    properties:
      code:
        type: integer
        format: int64
      message:
        type: string
        x-isnullable: false